<h1>Foods#index</h1>
<%= stylesheet_link_tag "foodsindex" %>
<%= link_to "<button>Add Food</button>".html_safe, foods_new_path %>
<table>
  <tr>
    <th>Food</th>
    <th>Measurement Unit</th>
    <th>Unit price</th>
    <th>Actions</th>
  </tr>
  <% @foods.each do |food|%>
  <tr>
    <td><%= food.name %></td>
    <td><%= food.measurement_unit %></td>
    <td><%= food.price %></td>
    <td><%= button_to 'Delete', {:controller => "foods", :action => "destroy", :food_id => food.id}, :method=>:delete  %></td>
  </tr>
  <% end%>
  
</table>